@import "components/buttons.css";
@import "components/modals.css";
@import "components/forms.css";

/* ----------General Styles --------------*/
p {
  font-size: 20px;
  color: #828691;
  width: 75%;
  line-height: 32px;
  margin-bottom: 32px;
  display: block;
}

body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  padding-right: 46px;
  padding-bottom: 20px;
  line-height: 74px;
  letter-spacing: -0.77px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

/* ---------Utilities----------------- */

/* Text */
.text-pink {
  color: #FD0272;
}

.check-terms {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;
  color: #1E1F22;
  opacity: 1;
}

.text-underline {
  text-decoration: underline;
}

/* Spacing and flexbox */

.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: 32px;
}

#tag-limited {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: #FFDD4D;
  height: 46px;
  width: 145px;
  opacity: 1;
  font-weight: 600;
}

#logo-text {
  margin-bottom: 18px;
  margin-top: 18px;
  height: 40px;
  width: 127.36px;
}
